@import '../../styles/variables';

.featured__story {
	background-color: map-get($map: $colors, $key: pure-black);
	color: map-get($map: $colors, $key: pure-white);

	.container {
		padding: 3rem 0;

		h2 {
			margin-top: 0;
		}

		p {
			margin: 0;
		}

		button {
			padding-left: 0;
		}
	}
}
