@import '../../styles/variables';
@import '../../styles/mixins';

.dropdown {
	position: absolute;
	top: 75px;
	right: 0;
	background-color: map-get($map: $colors, $key: pure-white);
	width: 100%;
	height: 250px;
	opacity: 0;
	transition: opacity 2s;

	@include break-tablet {
		display: none;
	}
}

.dropdown__container {
	height: 100%;
}

.menu__dropdown {
	display: flex;
	flex-direction: column;
	height: 100%;

	@include ul_block {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 15px;
		letter-spacing: 2.5px;
		border-bottom: 1px solid map-get($map: $colors, $key: light-grey);
		height: 55%;
		padding-bottom: 1rem;
		margin: 0%;

		li:nth-of-type(2) {
			margin: 1.5rem 0;
		}
	}

	@include break-tablet {
		@include hidden;
	}
}

.invite__button {
	margin-bottom: auto;
	margin-top: auto;
	height: 50px;
	width: 100%;
}
