@import '../styles/mixins';
@import '../styles/variables';

.plan__type {
	display: flex;
	flex-direction: row;
	justify-content: center;

	.plan__type__wrapper {
		width: 250px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

.pricing__grid {
	@include break-desktop {
		flex-direction: row;
		justify-content: space-around;
	}
}

.light__grey {
	color: map-get($map: $colors, $key: light-grey);
}

.section {
	margin: 3rem 0;
}

.pricing__page {
	section:last-child {
		margin-bottom: 0;
	}
}
